---
layout: default
---
<div class="page blog-index">
	<h1>Bloggity Blog</h1>
	<div class="col-two blog-cols">
		<div class="col col-aside blog-recent">
			<h4>Recent Posts</h4>
			<ul class="blog-title-list">
			{% for post in site.posts limit:5 %}
				<li>
					<a href="/css_sample_website{{ post.url }}">{{ post.title }}</a>
					<span>Posted by: {{ post.postAuthor }} </span>
					<span><img src="{{ post.gravatar }}"></span>
					<span>{{ post.date | date: '%B %d, %Y' }}</span>
				</li>
			{% endfor %}
			</ul>
		</div>
		<div class="col col-content blog-previews">
			{% for post in site.posts %}
				{% include postRecent.html %}
			{% endfor %}
		</div>
	</div>
</div>

